.footerContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #313131;
    color: white;
    padding: 4rem 0;
}

.footerLogo {
    max-width: 200px;
}

.topbar {
    background: #313131;
    padding: 1rem 0;
    color: #fff;
}